<h1 class="mb-1 restaurant-show-title">建立工作日誌</h1>

<div class="container" style="margin-top:5vh">
  <div class="row">
    {{#if message}}
    <span class=" col-12 alert d-flex justify-content-center ">{{message}}</span>
    {{/if}}

    <div class="col-12 col-md-10 mx-auto">

      <form action="/engineerLog/new?_method=POST" method='post'>
        <p class="mb-1">
          <span class="text-secondary">
            起訖時間：
          </span>
          <input type="date" name="workDate" placeholder="workDate">
        </p>
        <p class=" mb-1">
          <span class="text-secondary">
            工作分類：
          </span>
          <select name="workCategory">
            　<option value="公差">公差</option>
            　<option value="請假">請假</option>
            　<option value="稽核">稽核</option>
            　<option value="機房設備">機房設備</option>
            　<option value="網路設定">網路設定</option>
            　<option value="資安設定">資安設定</option>
            　<option value="代管設定">代管設定</option>
            　<option value="系統設定">系統設定</option>
            　<option value="資料庫管理">資料庫管理</option>
            　<option value="帳密設定">帳密設定</option>
            　<option value="網站管理">網站管理</option>
            　<option value="網站開發">網站開發</option>
            　<option value="交辦事項">交辦事項</option>
            　<option value="參與會議">參與會議</option>
            　<option value="資料整理">資料整理</option>
            　<option value="環境打掃">環境打掃</option>
            　<option value="教育訓練">教育訓練</option>
            　<option value="天災">天災</option>
            　<option value="節慶">節慶</option>
          </select>
        </p>
        <div>
          <label for="workDescription">敘述：</label>
          <textarea class="form-control" rows="5" id="workDescription" name="workDescription" placehoder="工作描述"
            spellcheck="false"></textarea>
        </div>
        <div style="margin-top: 10px;">
          <button class=" btn btn-outline-secondary" type="submit">SAVE</button>
          <a class="btn btn-outline-secondary" href="/">BACK</a>
        </div>
      </form>
    </div>
  </div>
</div>
